@model RealEstate1.Models.Project

@{
    ViewData["Title"] = "Düzenle";
}

<h2>Düzenle</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Projeler</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProjectName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProjectName" class="form-control" />
                <span asp-validation-for="ProjectName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FloorCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FloorCount" class="form-control" />
                <span asp-validation-for="FloorCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApartmentCount" class="form-control" />
                <span asp-validation-for="ApartmentCount" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye geri dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
